In [1]:
import pandas as pd

In [2]:
dados1 = {
    'ID': [1, 2, 3, 4],
    'Nome': ['Ana', 'Pedro', 'Maria', 'João'],
    'Setores': ['Rh', 'Vendas', 'Administrativo', 'Produção']
}


dados2 = {
    'ID': [1, 2, 3, 4],
    'Salários': [3000, 2800, 3200, 2500]
}

In [3]:
df1 = pd.DataFrame(dados1)

In [4]:
df2 = pd.DataFrame(dados2)

In [5]:
df_merged = pd.merge(df1, df2, on='ID')

In [6]:
print(df_merged)

   ID   Nome         Setores  Salários
0   1    Ana              Rh      3000
1   2  Pedro          Vendas      2800
2   3  Maria  Administrativo      3200
3   4   João        Produção      2500